<!DOCTYPE html>
<html>
<head>
  <title>Covetsy</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script type="text/javascript">
    window.testing = "testing";
  </script>
  <script>
    window.test = "hi";
    window.covetsy_assets = { background: "<%= image_path "ireland.JPG" %>" };
  </script>
<%= yield %>

</body>
</html>
